<?xml version="1.0" encoding="UTF-8"?>
<web-app id="testSpringMVC" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>WebSample</display-name>

	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/errors/sysError500</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/sysError404</location>
	</error-page>

	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<init-param>
			<param-name>-webAllowOthers</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/admin/h2/*</url-pattern>
	</servlet-mapping>

</web-app>
